<figure class="card" >
    <div class="product-template">
        <div >
            <p class="card-emoji">{%IMAGE%}{%IMAGE%}</p>
        </div>
        <div >
            <p class="product-name">{%PRODUCT_NAME%}</p>
        </div>
        <div class="detail-box">
           <p class="organic {%ORGANIC%}" >organic!</p> 
        </div>
        <div class="detail-box">
            <p class="quantity">{%QUANTITY%} per 📦</p>
        </div>
        <div class="detail-box price-box">
            <p class="price">{%PRICE%}€</p>
        </div>
        <div class="detail-link" >
            <a class="detail"href="/product?id={%ID%}">Detail 👉</a>
        </div>
    </div>
</figure>    